<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{{RID}} - {{name}}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src = "{{url_for('static', filename='src/script.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.0/socket.io.js"></script>

</head>

<body class = "bg-gray-900">
    <div class = "flashMSG">
    {% if get_flashed_messages(with_categories = true) %}
    <div class = "fixed flushflash flex items-center justify-center h-screen w-screen bg-black/[.5] block text-slate-400 transition-opacity" onclick = "flushflash()">
        <div class =  "bg-slate-900 h-fit justify-center text-lg items-center text-center text-xl rounded-xl p-10">
            <h3 class = "font-bold text-3xl">Notice!</h3>
            <p class = "py-8">
                {% for category, flashMSG in get_flashed_messages(with_categories = true) %}
                    {{flashMSG}}
                    {% endfor %}
            </p>
            <p class = "text-base text-slate-300">Click anywhere to continue...</p>
        </div>
    </div>
    {% endif %}
    </div>
    {% block content %}
    {% endblock %}

   <script type="text/javascript">
      //var socket = io.connect('http://' + document.domain + ':' + location.port);
      var socket = io.connect('https://' + document.domain + '/');

      socket.on( 'connect', function() {
        console.log(socket.id)
        socket.emit( 'join',{"channel":{{RID}}})
        socket.on( 'message', function(data){
            console.log(data)
        })

        var form = $( 'form' ).on( 'submit', function( e ) {
          e.preventDefault()
          message = $('#message').val()
          msgCount = {{room.messages}}
          send({{RID}}, message)
          socket.emit('received event', {
               message : message
          })
          $('#message').val('').focus()
        } )

          socket.on( 'update participants', function(chatters){
                console.log(chatters)
                updateParticipants(chatters)
          })
      })


      socket.on( 'send msg', function( msg ) {
          if( msg.message !== "" && typeof msg.message !== 'undefined' ) {
            ajaxUpdate()
            console.log(msg.message)
            }
      })
      function ajaxUpdate(){
            $.ajax({
                method: "GET",
                url: '{{url_for('chatlogs', RID=RID)}}'
                }).done(function(response){
                $('#chatlog').html(response);

            });
      }
      function updateParticipants(chatters){
          $.ajax({

            }).done(function(){
                $('#participants').html("Participants: "+ chatters + "/3")
                console.log("Participants Updated!")
            });
      }
        function send(RID, Message){
            if (Message == ""){
                return
            }
                 $.ajax({
                 method: "POST",
                 url: '{{url_for('addMsg')}}',
                 data: "RID=" + RID + "&message=" + Message
            }).done(function(response){
                $('#chatlog').html(response);
                console.log("test")
            });
        }
        ajaxUpdate()
        function copyLink(){
              var copyText = window.location.href

              navigator.clipboard.writeText(copyText);

              $.ajax({
                url: '{{url_for('copyLink')}}'
              }).done(function(data){
                $(".flashMSG").html(data)
              })

            }
    </script>

</body>
</html>