<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cheese</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
</head>
<body class = "bg-gray-900">
    <div class = "flex flex-wrap w-full">
        <a href="/createroom" class = "bg-inherit w-6/12 rounded-lg text-center text-slate-400 text-lg py-5 font-extralight border border-transparent">

            CREATE A ROOM

        </a>
        <a href="/" class = "bg-gray-800 w-6/12 rounded-lg text-center border-l-0 text-slate-400 text-lg py-5 font-extralight border border-transparent">

            CHAT ROOMS

        </a>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>