<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{{RID}} - {{name}}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src = "{{url_for('static', filename='src/script.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.0/socket.io.js"></script>
</head>

<body class = "bg-gray-900">
    <script>
      //var socket = io.connect('http://' + document.domain + ':' + location.port);
      var socket = io.connect('https://' + document.domain + '/');
        window.onbeforeunload = function () {
            socket.emit( 'leave', {"channel":{{RID}}} )
        }

    </script>

    {% block content %}
    {% endblock %}

   <script type="text/javascript">
      //var socket = io.connect('http://' + document.domain + ':' + location.port);
      var socket = io.connect('https://' + document.domain + '/');
      socket.on( 'connect', function() {
        console.log(socket.id)

        socket.emit( 'join',{"channel":{{RID}}})
        socket.on( 'message', function(data){
            console.log(data)
        })

        var form = $( 'form' ).on( 'submit', function( e ) {
          e.preventDefault()
          message = $('#message').val()
          msgCount = {{room.messages}}
          send({{RID}}, message)
          socket.emit('received event', {
               message : message
          })
          $('#message').val('').focus()
        } )
      })

      socket.on( 'send msg', function( msg ) {
          if( msg.message !== "" && typeof msg.message !== 'undefined' ) {
            ajaxUpdate()
            console.log(msg.message)
            }
      })
      function ajaxUpdate(){
            $.ajax({
                method: "GET",
                url: '{{url_for('chatlogs', RID=RID)}}'
                }).done(function(response){
                $('#chatlog').html(response);

            });
      }
        function send(RID, Message){
            if (Message == ""){
                return
            }
                 $.ajax({
                 method: "POST",
                 url: '{{url_for('addMsg')}}',
                 data: "RID=" + RID + "&message=" + Message
            }).done(function(response){
                $('#chatlog').html(response);
                console.log("test")
            });
        }
        ajaxUpdate()

    </script>

</body>
</html>