{% extends 'layouts/layout_land.html' %}

{% block content %}
<style>
    .chat-room{
        background-color: rgb(31 41 55);
       }
</style>

    <div class = "div2">

        <!-- form for search function -->
        <div class = "flex justify-start flex-wrap py-10">
            <input type = "text" placeholder = "Search Chat Room" id = "searchQuery" class = "bg-slate-800 rounded-md p-3 text-slate-400 font-light focus:outline-none ml-[50px] w-[300px]">
        </div>

        <!-- Rooms List -->
        <div class = "flex flex-wrap mx-[50px]" id = "roomsList">
            {% include 'partial/roomsQuery.html' %}
        </div>
    </div>
{% endblock %}