{% extends 'layouts/layout_room.html' %}

{% block content %}
    <div class = "w-[calc(100vw-100px)] mx-[50px]">
        <!-- Chat bar tab -->
        <div class = "bg-slate-800 mt-10 p-5 px-10 rounded-t-3xl flex justify-between items-center flex-wrap">
            <h1 class = "text-slate-400 text-2xl font-semibold w-1/2 truncate">{{name}} - {{room.messages}}/800</h1>
            <a href = "/"><h1 class = "text-slate-400 text-2xl font-semibold text-right cursor-pointer">Back</h1></a>
        </div>
        <!-- chat content -->
        <div class = "h-[calc(100vh-230px)] border-2 border-slate-800 p-5 px-10 overflow-auto flex flex-col-reverse" id = "chatlog"><br>
            {% include 'partial/chatlog.html' %}
        </div>
        <!-- input message -->
        <div class = "w-full border-2 border-t-0 border-slate-800 overflow-auto rounded-b-3xl flex justify-between items-center flex-wrap"><br>
            <form action = "" method = "POST" class = "w-full flex flex-wrap items-start items-center">
                <input type = "text" placeholder = "Enter your anonymous message here..." name = "message" id = "message" class = "flex-wrap w-10/12 focus:outline-none p-4 px-6 bg-slate-800 text-slate-400">
                <input type = "submit" value = "Send" class = "flex-wrap w-2/12 py-4 cursor-pointer bg-blue-900 text-slate-200">
            </form>
        </div>
    </div>

{% endblock %}