{% extends 'layouts/layout_room.html' %}

{% block content %}
    <p style = "color:white;">{{chatters}}</p>
    <div class = "w-[calc(100vw-100px)] mx-[50px]">
        <!-- Chat bar tab -->
        <div id = "chatlog">
            <!-- The first instance is from javascript layout_room.hyml the rest is from the polling -->
        </div>
        <!-- input message -->
        <div class = "w-full border-2 border-t-0 border-slate-800 overflow-auto rounded-b-3xl flex justify-between items-center flex-wrap"><br>
            <form action = "" method = "POST" class = "w-full flex flex-wrap items-start items-center">
                <input type = "text" id = "uRID" class = "hidden" value = {{RID}}>
                <input type = "text" placeholder = "Enter your anonymous message here..." name = "message" id = "message" class = "flex-wrap w-10/12 focus:outline-none p-4 px-6 bg-slate-800 text-slate-400">
                <input type = "submit" id = "send" value = "Send" class = "flex-wrap w-2/12 py-4 cursor-pointer bg-blue-900 text-slate-200">
            </form>
        </div>
    </div>

{% endblock %}